*{
    margin: 0%;
}
.start{
    margin-left: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.head{
    display: flex;
    justify-content:space-evenly;
    
}
.head a{
    text-decoration: none;
    display: inline;
    padding: 5px 50px 0px 50px;
}
.head button{
    border: none;
    background-color: blue;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    line-height: 30px;
    margin-right: 20px;
}
.one{
    background-image: url("Images/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.one h1{
    padding-top: 50px;

}
.one p{
    padding-top: 20px;
    line-height: 30px;
}
.btn{
    display: flex;
    justify-content: space-around;
    margin: 50px 500px 0px 500px;
    
}
.btn1{
    border: none;
    padding: 20px;
    color: white;
    background: blue;

}
.btn2{
    padding: 20px;
    color: white;
    border: 2px solid white;
    background: transparent;
}

.body{
    display: flex;
}
.body img{
    margin-left: 450px;
}
.about{
margin: 50px 70px;
}
.about h4{
    margin-top: 60px;
}
.about p{
    margin-top: 40px;
    line-height: 30px;
}
.about button{
    margin-top: 40px;
    border: none;
    background-color: blue;
    color: white;
    padding: 20px;
    width: 200px;
}
.mid{
    background-image: url("Images/Rectangle\ 11.png");
    background-size: cover;
    height: 550px;
    text-align: center;
    color: white;
   

}
.mid h6{
    padding-top: 100px;
    font-size: 24px;
}
.mid p{
    padding-top: 70px;
    font-size: 40px;
    font-weight: bold;
}
.mid button{
    border: none;
    background-color: blue;
    padding: 20px 30px 20px 30px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}
.boxes{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 100px 50px;
    
}
.services h4{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
}
.box1{
     box-shadow: 1px 1px 3px grey;
    }
    .box1 h5{
        margin :20px 20px 20px 20px;
        font-size: 16px;
    }
    .box1 p{
        margin: 0 20px 30px 20px;
    }
     .bottom{
        background-color: rgba(89, 0, 255, 0.705);
        display: flex;
        height: 600px;
        justify-content: space-around;
    }
     .signin{
        background-color: white;
        border: white;
        margin: 50px 50px;
        width: 600px;
        height: 500px;
        border-radius: 2px;
    }
    .signin h5{
       margin: 50px 0px 50px 60px;
       font-size: 20px;
    }
    .send{
        border: none;
        color: white;
        background-color: blue;
        margin-top: 100px;
        margin-left: 100PX;
        padding: 10px;
        width: 200px;
    }
    form{
        margin: 0px 50px 50px 50px;
       
    }
    table tr td{
        border: 1px solid black;
       width: 200px;
    }
   .contacts{
       margin: 50px 50px;
       color: white;
   }
   .contacts h4{
       font-size: 20px;
       font-weight: bold;
   }
   .contacts h5{
       margin-top: 30px;
       font-size: 15px;
       font-weight: bold;
   }
   .contacts p{
       margin-top: 10px;
   }
   footer{
    background-color: rgb(29, 11, 58);
    text-align: center;
    color: white;
    height: 100px;
}
footer p{
  padding-top: 30px; 
}